p, ul, section, h1, h2, h3, h4, h5, h6 {color: black}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

div.content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section.credit {font-size: 75%}

h1 {text-align: center}
